{% extends "base.html" %}

{% block title %}
All Events
{% endblock title  %}

{% block content %}

{% comment %}
{% for event in event_list %}
    <h1> {{ event.name }} </h1>
    <p> {{ event.description }}</p>
    {% endfor%}
    {% endcomment %}

<div class="list-group">
        {% for event in event_list %}
        <a href="{% url 'event_detail' event.pk %}" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> {{ event.name }} </h5>
            <small>{{ event.date_from }} - {{ event.date_to }} 
                at {{ event.venue }}
            </small>     
          </div>
          <p class="mb-1"> {{ event.description }} </p>
     </a>
    {% empty %}
    <a href="#!" class="list-group-item list-group-item-action list-group-item-warning">
      There are not events to display.
    </a>

    {% endfor%}
</div>

{% endblock content %}
